.controls {
    margin-bottom: 20px;
}
.page-header {
    margin-top: 20px;
}
ul {
    list-style: none;
}
.box {
    height: 100%;
    border: 1px solid #ccc;
    background-color: #fff;
}
.box-header {
    background-color: #eee;
    padding: 0 5px;
    width:100%;
    float:left;
    border-bottom: 1px solid #ccc;
    cursor: move;
    position: relative;
}
.box-header h3 {
    margin-top: 10px;
    display: inline-block;
}
.box-content {
    padding: 10px;
}
.box-header-btns {
    top: 15px;
    right: 10px;
    cursor: pointer;
    position: absolute;
}
a {
    color: #ccc;
}
form {
    margin-bottom: 0;
}



.agent-drag-handler {
    float: left;
    margin: 13px 5px 0;
}

#supervisor-chat {
    width:100%;
    min-height:42px;
    background:transparent;
    border-radius:4px;
    z-index:1500;
    margin-top:20px;
}

#supervisor-chat h4.modal-title {
    display:inline-block;
    color: grey;
    font-size:16px;
    background: url("/static/assets/img/genesys-sign.png") left center no-repeat;
    padding-left:32px;
}

#supervisor-chat .modal-header li {
    list-style:none;
    margin-right:15px;
    display:inline-block;
}

#supervisor-chat .modal-header a {
    text-decoration:none;
}

#supervisor-chat .input-append {
    margin-bottom:10px;
}

.chatbox-body {
    border:1px solid #ddd;
    padding:5px;
    background-color: #fff;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    border-top:0;
}

.box .panel {
    margin-bottom: 5px;
}

.box .panel-heading {
    padding:2px 5px;
}

.box .panel-body {
    padding:5px;
}

.box-content {
    height: -moz-calc(100% - 49px) !important;
    height: -webkit-calc(100% - 49px) !important;
    height: calc(100% - 49px) !important;
    overflow-x:hidden;
    overflow-y:auto
}

.spinner-container {
    position: relative;
    margin: 30px auto 0 auto;
    width: 48px;
    height: 48px;
}

.spinner-container .spin-circle {
    position: absolute;
    top: -2px;
    left: -2px;
    z-index: 100;
    width: 52px;
    height: 52px;
    border-top: 5px solid rgba(0, 0, 0, 0);
    border-right: 5px solid #5e99ff;
    border-bottom: 5px solid rgba(0, 0, 0, 0);
    border-left: 5px solid rgba(0, 0, 0, 0);
    border-radius: 100%;
    -webkit-animation: spin 3s infinite linear;
    -ms-animation: spin 3s infinite linear;
    animation: spin 3s infinite linear;
}

.spinner-container .spin-inner-circle {
    position: absolute;
    width: 48px;
    height: 48px;
    background-color: white;
    border: solid 1px rgba(34, 37, 41, .14);
    border-radius: 50%;
}

@keyframes spin {
    from {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    to {
        -webkit-transform: rotate(359deg);
        -ms-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}

@-webkit-keyframes spin {
    from {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    to {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}

@-ms-keyframes spin {
    from {
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    to {
        -ms-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}