// Core variables and mixins
@import "static/ark/ark-style/less/variables.less";
@import "static/ark/ark-style/less/mixins.less";
@import "static/ark/ark-style/less/tooltip.less";

.alert-success {
  .alert-variant(@alert-success-bg; @alert-success-border; @genesys-off-white);
}
.alert-info {
  .alert-variant(@alert-info-bg; @alert-info-border; @alert-info-text);
}
.alert-warning {
  .alert-variant(@alert-warning-bg; @alert-warning-border; @genesys-off-white);
}
.alert-danger {
  .alert-variant(@alert-danger-bg; @alert-danger-border; @genesys-off-white);
}
