{% from "_macros/journeys.facets.html" import render_journeysFacets -%}

<div class="col-sm-2 sidebar">
    {{render_journeysFacets()}}
</div>

<div class="col-sm-10 col-sm-offset-2" style="overflow-x: hidden;">
    <div class="row">
        <div class="col-sm-12" style="margin-top: 15px;">
            <div class="row">
                <div class="col-sm-4">
                    <a ng-click="resetAll()" class="btn btn-default">Reset All</a>
                </div>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-xs-5">
            <h4>Customer Care</h4>
            <div class="dc-chart" id="nps-by-time-bar-chart"></div>
        </div>
        <div class="col-xs-3">
            <h4>Net Promoters</h4>
            <div class="dc-chart" id="nps-pie-chart"></div>
        </div>
        <div class="col-xs-4">
            <h4>NPS Distribution</h4>
            <div class="dc-chart" id="nps-distribution-bar-chart"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-6">
            <h4>Key Drivers</h4>
            <div class="dc-chart" id="key-drivers-bar-chart"></div>
        </div>
        <div class="col-xs-3">
            <h4>Regions</h4>
            <div class="dc-chart" id="regions-row-chart"></div>
        </div>
        <div class="col-xs-3">
            <h4>Departments</h4>
            <div class="dc-chart" id="departments-row-chart"></div>
        </div>

    </div>



    <div class="row">
        <div class="col-xs-12">
            <h4>Journeys</h4>
            <table class="table table-default" id="data-table">
                <thead>
                <tr class="header">

                    <th>Journey Type</th>

                    <th>NPS</th>
                    <th>CSAT</th>
                    <th>Current Stage</th>
                    <th>Department</th>
                    <th>Region</th>
                    <th>Issues</th>

                </tr>
                </thead>
            </table>
        </div>
    </div>
</div>

<style>
    .dc-chart .axis text {
        font-size: 12px
    }
    .dc-chart g.row text, .dc-chart .pie-slice {
        fill:#000;
    }
</style>