<h1>Datasets</h1>

<hr/>

<div class="row form-group" style="margin-bottom: 20px;">
  <div class="col-md-12">
    <!--ng-hide="user.is_superuser"-->
    <div class="pull-left">
      {% if user.is_staff or user.is_admin %}
      {% raw %}
      <button class="btn btn-primary" ng-click="openDatasetModal()">
        <span class="fonticon icon-add"></span>&nbsp;Create Dataset
      </button>
      {% endraw %}
      <button class="btn btn-default"
              style="margin-left:10px"
              ng-disabled="!selectedList.length"
              ng-confirm
              tooltip-placement="top" tooltip="Delete"
              action-text="Are you sure you want to delete?"
              action-function="delete()"
              action-button-text="Yes"
              cancel-button-text="No">
        Delete Selected
      </button>
      {% endif %}
    </div>
    <div class="pull-right">
      <div class="filter-block">
        <search filter="flags.searchTerm" placeholder-text="Search"></search>
      </div>
    </div>
  </div>
</div>

{% raw %}
<div class="row configure-schema">
  <div class="col-md-12 scroll-x">
    <table class="table table-default" ng-show="entityList && entityList.length" style="overflow-x: scroll;">
      <thead>
      <tr>
        <th style="width:40px;">
          <label class="checkbox">
            <input type="checkbox" class="ark-checkbox" ng-model="flags.selectedAll" ng-click="select()"><span></span>
          </label>
        </th>
        <th style="width:80px;" sorter="table.sort" data-predicate="status" data-title="Status"></th>
        <th sorter="table.sort" data-predicate="name" data-title="Name"></th>
        <th sorter="table.sort" data-predicate="rows" data-title="Rows"></th>
        <th sorter="table.sort" data-predicate="created_at" data-title="Created"></th>
        <th sorter="table.sort" data-predicate="updated_at" data-title="Updated"></th>
      </tr>
      </thead>
      <tbody>
      <tr ng-repeat="dataset in entityList | filter:flags.searchTerm | orderBy: table.sort.predicate: table.sort.reverse">
        <td>
          <label class="checkbox">
            <input type="checkbox" class="ark-checkbox" ng-model="dataset.selected" ng-click="select(dataset)"><span></span>
          </label>
        </td>
        <td class="text-center">
          <span ng-class="dataset.sync_status === 'IN_SYNC' ? 'icon-alert-checkmark success' : 'icon-alert-octo error'" tooltip-placement="top" tooltip="{{dataset.status_display}}"></span>
        </td>
        <td>
          <span
            ng-if="dataset.sync_status === 'IMPORTING'">
            {{dataset.name}}
          </span>
          <a
            ng-if="dataset.sync_status !== 'IMPORTING'"
            class="link" href="#/datasets/edit/{{dataset.encoded_name}}">
            {{dataset.name}}
          </a>
        </td>
        <td>{{dataset.rows}}</td>
        <td>{{dataset.created_at * 1000 | moment:'lll'}}</td>
        <td>{{dataset.updated_at * 1000 | moment:'lll'}}</td>
      </tr>
      </tbody>
    </table>
    <div ng-show="!entityList.length" class="alert alert-info text-center">
      <i class='icon-alert-triangle'></i> No Datasets
    </div>
  </div>
</div>
{% endraw %}