{%- macro render_customersFacets() -%}
<div>
    <facet-panel facet-title="All Industries"
                facet-tooltip="View data by all or a selection of industries"
                facet-is-all="facets.industries.all"
                facet-is-multi="true"
                facet-update-action="updateFacets"
                facet-options="facets.industries.list">Loading</facet-panel>
</div>
<div>
    <facet-panel facet-title="All Age Groups"
                facet-tooltip="View data by all or a selection of age groups"
                facet-is-all="facets.age_groups.all"
                facet-is-multi="true"
                facet-update-action="updateFacets"
                facet-options="facets.age_groups.list">Loading</facet-panel>
</div>
<div>
    <facet-panel facet-title="All Customer Statuses"
                facet-tooltip="View data by all or a selection of customer statuses"
                facet-is-all="facets.customer_statuses.all"
                facet-is-multi="true"
                facet-update-action="updateFacets"
                facet-options="facets.customer_statuses.list">Loading</facet-panel>
</div>
<div>
    <facet-panel facet-title="All Segments"
                facet-tooltip="View data by all or a selection of journey segments"
                facet-is-all="facets.segments.all"
                facet-is-multi="true"
                facet-update-action="updateFacets"
                facet-options="facets.segments.list">Loading</facet-panel>
</div>
{% endmacro %}


