<h3>Predictors List</h3>
<table class="table table-striped table-responsive">
    <thead>
    <tr>
        <th>No.</th>
        <th>Name</th>
        <th>Type</th>
        <th>Score</th>
        <th>Estimated Reward</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="predictor in predictors">
        <td><span ng-bind="$index+1"></span></td>
        <td>
            <a target="_blank"
               ng-click="scoreWithPredictor(predictor, $index)"
               style="cursor:pointer">
                <span ng-bind="predictor.name"></span>
            </a>
        </td>
        <td><span ng-bind="predictor.type"></span></td>
        <td><span ng-bind="predictor.score"></span></td>
        <td><span ng-bind="predictor.estimated_reward"></span></td>
    </tr>
    </tbody>
</table>