<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="/static/assets/img/gen_logomark_16px_col.ico">
    <!-- Le styles -->

    <!-- bootstrap v3:css -->
    <link rel="stylesheet" href="/static/chat/public/vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/chat/public/vendor/font-awesome/css/font-awesome.min.css">
    <!-- endinject -->

    <!-- Select2 theme -->
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/select2/3.4.5/select2.css">
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.8.5/css/selectize.default.css">
    <link rel="stylesheet" href="/static/chat/public/vendor/dist/select.css">

    <link rel="stylesheet" href="/static/chat/public/css/app.css">
    <link rel="stylesheet" href="/static/chat/public/css/agent-desktop.css">
    <script>
        window.agentId = '{{agent_id}}';
        HOST_DOMAIN = '{{config.HOST_DOMAIN}}'
        SOCKET_DOMAIN = '{{config.SOCKET_DOMAIN}}'
    </script>

</head>

<body ng-app="chat">


<div class="container"
     ng-controller="AgentDesktopCtrl">

    {% raw %}

    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header navbar-left pull-left">
                <a href="/journey/agents" class="navbar-brand">
                    Agent's Desktop
                </a>
            </div>
            <img src="/static/chat/public/images/no-photo.jpg"
                         popover-template="agentInfo-tpl.html"
                         popover-placement="bottom"
                         popover-trigger="mouseenter"
                         style="width:30px;
                                height:30px;
                                margin:10px 80px;
                                float:right;"
                         class="img-circle">

        </div>
    </div>

    <div ng-if="!customers.length">
        No connected customers...
    </div>
    <div ng-if="customers.length">
        <div class="panel panel-default"
             ng-class="{'panel-danger' : summary.sentiment_score == -1}"
             ng-repeat="customer in customers">
            <div class="panel-heading">
                <span popover-placement="bottom"
                      popover-container="body"
                      popover-template="userinfo-tpl.html"
                      popover-trigger="mouseenter">
                        {{customer.userName || 'Anonymous'}}
                        <img src="/static/chat/public/images/no-photo.jpg"
                             class="img-circle pull-left"
                             style="width:25px;
                                    height:25px;
                                    margin-right:5px;
                                    border:1px solid #ccc">
                </span>
                <a ng-click="removeCustomer(customer)"
                   href=''>
                    <i class="glyphicon glyphicon-remove"
                       ng-show="!customer.isConnected"></i>
                </a>

            </div>
            <div class="panel-body">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div style="">
                            <button class="btn btn-sm btn-link pull-left"
                                    ng-disabled="!summary.topics.length"
                                    ng-init="isClosed = true"
                                    ng-click="isClosed=!isClosed">
                                <span ng-if="isClosed"><i class="fa fa-plus-square"></i></span>
                                <span ng-if="!isClosed"><i class="fa fa-minus-square"></i></span>
                            </button>
                            <div style="padding-left:35px;">
                                <ui-select multiple
                                           tagging="tagTransform"
                                           tagging-label="false"
                                           ng-model="summary.tags"
                                           theme="bootstrap"
                                           ng-disabled="disabled"
                                           search-enabled="true"
                                           on-select="acceptTag($item, $model)"
                                           on-remove="removeTag($item, $model)"
                                           style="width: 100%"
                                           title="Choose a tag">
                                    <ui-select-match placeholder="Chat Summary...">{{$item.display_name}}</ui-select-match>
                                    <ui-select-choices repeat="tag in tags | filter:$select.search | orderBy:'display_name'">
                                        <div ng-if="!tag.isTag"
                                             ng-bind-html="tag.display_name + tag.isTag | highlight: $select.search"></div>
                                    </ui-select-choices>
                                </ui-select>
                            </div>
                        </div>

                        <div style="margin-top:5px"
                             ng-show="!isClosed">
                            <span class="label label-info"
                                  style="margin-right:5px"
                                  ng-repeat="topic in summary.topics">{{topic[0]}}</span>
                        </div>

                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="chat-messages"
                             scroll-bottom="customer.messages"
                             style="height:150px;
                                    border-color: transparent;
                                    border-radius: 3px;
                                    margin:-15px;
                                    margin-bottom:20px;">
                            <div class="col-xs-12"
                                 ng-hide="customer.messages.length > 0"
                                 style="padding:10px">
                                No chat history
                            </div>
                            <div class="col-sm-12"
                                 ng-show="customer.messages.length > 0"
                                 ng-repeat="message in customer.messages track by $index"
                                 ng-class="{dark: $index % 2 === 0}">
                                <strong>{{ message.sender }}</strong>: {{ message.body }}
                            </div>
                        </div>
                        <form id="frm-send-message"
                              role="form"
                              ng-show="user.owns || user.inroom">
                            <div class="col-xs-10" style="padding-left: 15px; padding-right:10px">
                                <input type="text"
                                       style="margin-left:-15px;margin-right:-15px;margin-bottom:15px;"
                                       class="form-control "
                                       placeholder="Enter message"
                                       ng-model="message"
                                       name="message"
                                       id="message"
                                       ng-keypress="typing($event, user, customer)"
                                       on-focus="focus(true)"
                                       on-blur="focus(false)"
                                       ng-disabled="!customer.isConnected">
                            </div>
                            <div class="col-xs-2" style="padding-left: 0; padding-right: 0">
                                <button class="btn
                                           btn-default
                                           btn-block"
                                        ng-click="send(customer)"
                                        ng-disabled="!customer.isConnected">Send</button>
                            </div>
                        </form>

                        <small ng-if="error" class="help-block text-warning">{{ error.send }}</small>
                        <ul ng-if="customer.isTyping" class="help-block unstyled" style="position:relative;">
                            <li style="position:absolute;top:35px;"><small>{{customer.typer}} is typing</small></li>
                        </ul>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-body text-right">
                        <button class="btn
                                    btn-info"
                                ng-click="askToSupervisor(customer, 1)">
                            Ask supervisor to join
                        </button>
                    </div>
                </div>


            </div>
        </div>
    </div>
    {% endraw %}
</div>

<script type="text/ng-template" id="userinfo-tpl.html">

    {%raw%}
    <div class="userInfo"
         style="width:250px">
        <ul class="list-group">
            <li>
                <strong>Name: </strong>{{customer.userName}}
            </li>
            <li>
                <strong>Gender: </strong>{{customer.userSex}}
            </li>
            <li>
                <strong>Age: </strong>{{customer.userAge}}
            </li>
            <li>
                <strong>Segment: </strong>{{customer.userSegmen || 'N/A'}}
            </li>
        </ul>
    </div>
    {%endraw%}
</script>

<script type="text/ng-template" id="agentInfo-tpl.html">

    {%raw%}
    <div class="userInfo"
         style="width:150px">
        <ul class="list-group" style="list-style: none; margin:0">
            <li>{{agent.name}}</li>
            <li>{{agent.age}}</li>
            <li>{{agent.seniority}}</li>
        </ul>
    </div>
    {%endraw%}
</script>


<script type="text/ng-template" id="myModalContent.html">
    <div class="modal-header">
        <h3 class="modal-title">I'm a modal!</h3>
    </div>
    <div class="modal-body">BODY</div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="ok()">OK</button>
        <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
    </div>
</script>


<script src="/static/assets/vendor/jquery/jquery.js"></script>
<script src="/static/assets/vendor/angular/angular.min.js"></script>
<!--<script src="/static/assets/vendor/angular-route/angular-route.js"></script>-->
<!--<script src="/static/assets/vendor/angular-resource/angular-resource.js"></script>-->
<script src="/static/assets/vendor/angular-sanitize/angular-sanitize.js"></script>
<script src="/static/assets/vendor/angular-animate/angular-animate.js"></script>
<script src="/static/assets/vendor/angular-bootstrap/ui-bootstrap-tpls-0.12.1.min.js"></script>


<script src="/static/chat/public/vendor/angular-bootstrap/ui-bootstrap-tpls-modified.js"></script>

<script src="/static/assets/vendor/angular-ui-router/angular-ui-router.min.js"></script>
<script src="/static/chat/public/vendor/angular-ui-slider/slider.js"></script>
<script src="/static/chat/public/vendor/angular-gridster/angular-gridster.js"></script>
<script src="/static/assets/vendor/lodash/lodash.compat.js"></script>

<!-- ui-select files -->
<script src="/static/chat/public/vendor/dist/select.js"></script>



<script src="http://{{config.SOCKET_DOMAIN}}/socket.io/socket.io.js"></script>
<script src="/static/chat/public/js/app.js"></script>
<script src="/static/chat/public/js/services.js"></script>
<script src="/static/chat/public/js/api-services.js"></script>
<script src="/static/chat/public/js/directives.js"></script>



<script src="/static/chat/public/js/agent-desktop-controller.js"></script>
</body>
</html>